// External Libs
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bower_components/font-awesome-sass/assets/stylesheets/font-awesome";

.footer{
	background-color: #fafafa;
	margin: 100px 0px 0px 0px;
	padding: 20px;
	border-top: 1px solid #eaeaea;
}